/*fonts of page is iranSans */
@font-face {
  font-family: 'iranSans';
  src:  url('./IRANSansWeb.eot') format('eot'),
        url('./IRANSansWeb.ttf') format('ttf'),
        url('./IRANSansWeb.woff') format('woff'),
        url('./IRANSansWeb.woff2') format('woff2');
  font-style: normal;
  font-display: fallback;
}